article {
	// line-height: 5em;
    height: 82vh;
	text-align: center;
	background: #0F0D0D;
    position: relative;
    .block {
        width: 6%;
        height: 3.5%;
        background: #F2E6E8;
        position: absolute;
            top: 16.8%;
            right: 84%;
        // margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

.info {
    width: 60vw;
    height: 60vh;
    min-width: 300px;
    // border: 4px solid #F2E6E8;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    // justify-content: center;
    // Centrowanie:
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    margin: auto;
    // Pozycja tekstu:
    div:first-child {
        line-height: 2.1em;
        font-size: 2.1em;
        display: block;
        margin: auto;
        width: 100%;
    }
    div:last-child {
        display: block;
        
    }
}

// TEN FRAGMENT JEST NIEUŻYWANY!!!
// aside {
	// line-height: 20em;
	// text-align: center;
	// background: black;
// }