footer {
	height: 8vh;
	background: #0F0D0D;
        ul {
            list-style-type: none;
            font-size: 0.8em;
                li {
                    text-align: right;
                    padding: 1% 15% 1% 0;
                }
        }
}
    