body {
	width: 100vw;
	height: 100vh;
    min-width: 700px;
    min-height: 600px;
    color: #F2E6E8;
    background: #0F0D0D;
    font-family: 'Lato', sans-serif;
}

.mk_space {
    margin: 0.5%;
}

.mk_space_transp {
    padding: 1%;
}







