/* IMPORT FONT FILES */
@import url("../css/fonts.css");
/* IMPORT RESET */
@import url("../responsive.gs/reset.css");
/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("../responsive.gs/responsive.gs.12col.css");
body {
  width: 100vw;
  height: 100vh;
  min-width: 700px;
  min-height: 600px;
  color: #F2E6E8;
  background: #0F0D0D;
  font-family: 'Lato', sans-serif; }

.mk_space {
  margin: 0.5%; }

.mk_space_transp {
  padding: 1%; }

header {
  height: 10vh;
  background: rgba(242, 230, 232, 0.8);
  color: #0F0D0D;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em; }
  header ul {
    list-style-type: none;
    font-size: 1.5em; }
    header ul li {
      text-align: left;
      margin: 0 0 0 2.5%;
      line-height: 12vh; }

article {
  height: 82vh;
  text-align: center;
  background: #0F0D0D;
  position: relative; }
  article .block {
    width: 6%;
    height: 3.5%;
    background: #F2E6E8;
    position: absolute;
    top: 16.8%;
    right: 84%;
    transform: translate(-50%, -50%); }

.info {
  width: 60vw;
  height: 60vh;
  min-width: 300px;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .info div:first-child {
    line-height: 2.1em;
    font-size: 2.1em;
    display: block;
    margin: auto;
    width: 100%; }
  .info div:last-child {
    display: block; }

footer {
  height: 8vh;
  background: #0F0D0D; }
  footer ul {
    list-style-type: none;
    font-size: 0.8em; }
    footer ul li {
      text-align: right;
      padding: 1% 15% 1% 0; }
